*{
    font-family: "Roboto", sans-serif;
    margin: auto;
    

}



html{background-color: rgb(11, 195, 42);
    font-size: 18px;
}



header{
   
    display: flex;
    background-color: rgba(17, 2, 20, 0.848);
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    gap: 50px;
    
    
}




.logo :hover{
    transform: scale(1.1);
}


.curiosidadesEstadoSP{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
    text-align:justify;
}
    


.home{
   
    display: flex;
    justify-content: center;
   
    gap: 25px;
   
    
}

.home2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
   
}


.banner{
    height:90vh ;
    width:90% ;

    background-image: url("../img/Valinhos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-top: 11px;
    margin-bottom: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.banner h2{
    width: 40vh;
    color: rgb(255, 94, 0);
    text-align: center;
    font-style: italic;
    font-weight: 
    font-size: 1ram;
    justify-content: center ;
    border-radius: 5px;
    background-color: rgba(21, 255, 0, 0.273);
}

.curiosidadesEstadoSP{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    

    border-radius: 5px;
    gap: 10px;
}

.capital{
    border: solid 5px rgb(255, 94, 0);
    align-items: stretch;
    background-color: rgb(41, 4, 36,05);
    border-radius: 14px;

}

.campinas{
    border: solid 5px rgb(255, 94, 0);
    background-color: rgb(41, 4, 36,05);
    border-radius: 14px;


}

.valinhos{
    border: solid 5px rgb(255, 94, 0);
    background-color: rgb(41, 4, 36,05);
    border-radius: 14px;


}

.assis{
    border: solid 5px rgb(255, 94, 0);
    background-color: rgb(41, 4, 36,05);
    border-radius: 14px;


}


.curiosidadesEstadoSP h3{
    color: rgb(255, 94, 0);

}


.curiosidadesEstadoSP p{
    color:white;

}


main h2{
    padding: 10px;
}

.banner h2 span{
    color: rgb(60, 8, 60);
    background-color: rgba(21, 255, 0, 0.037);

}

iframe:focus{
    outline: none;
    display: block;
    }

.video2{
    background-color: rgb(21, 59, 5);
    margin-bottom: 20px;
    margin: 0px, -20px, -30px, -20px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

div.video2 > iframe{
    height: 90%;
    width: 90% ;
    position: absolute;
    top: 5%;
    left: 5%;
   
}

.linkedin{
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    justify-content: center;
     
    align-items: center;
    flex-wrap: nowrap;
    
    
   
}

.gitthub{
    
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    justify-content: center;
     
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 20%;
   
}

.gitthubimg{
    border: solid 5px rgb(57, 53, 51);
    background-color: rgb(49, 42, 107);
    border-radius: 14px;
}

.linkedinimg{
    border: solid 5px rgb(57, 53, 51);
    background-color: rgb(49, 42, 107);
    border-radius: 14px;
}


footer{display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:space-around;
    gap: 10px; 
    background-color: rgba(17, 2, 20, 0.848);}








a:visited{
    color: yellow;
}

p:hover{
    transform:skew(-3deg) scale(1.01);
    transition-property:p;

    background-color: rgb(155, 31, 120);
    color: rgba(166, 179, 203, 0.989);
}

.home2>#home,#curiosidades,#video:hover{
    
    color:rgb(205, 81, 50)
}
    

@media screen and (max-width: 768px) {
    header{background-color: rgb(245, 123, 16);}
        hhtml{
            font-size: 16px;
        background-color: rgb(255, 140, 0);}

        header{flex-direction: column;}

        .home2{flex-direction: column;}

        .curiosidadesEstadoSP{flex-direction: column;
            background-color: rgb(210, 243, 101);}

        .valinhos, .campinas, .capital, .assis{
            border: solid 5px rgb(57, 53, 51);
            background-color: rgb(49, 42, 107);
            border-radius: 14px;
        }
        .banner{height:90vh;
            width: 90vh;
            flex-direction: column;
            margin-top: 14px;}

        .video{display:block;
            flex-direction: column; 
            width: auto;
            width: 100%;
            

        }

        footer{
            flex-direction: column;
        }

        p:hover{
            background-color: rgb(23, 30, 233);
            color: rgba(166, 179, 203, 0.989);
        }


    }
    
 
